html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.odin-recipes {
  border: 5px outset blue;
  background-color: lightcoral;
  color: black;
  text-align: center;
  height: 50px;
  width: 400px;
}

.recipes {
  border: 5px outset red;
  background-color: lightblue;
  text-align: justify;
  font-weight: bold;
  height: 90px;
  width: 350px;
}

.title {
  border: 5px outset beige;
  background-color: salmon;
  height: 50px;
  width: 350px;
}

.description {
  border: 5px outset red;
  background-color: lightblue;
}

.ingredients {
  border: 5px outset darkkhaki;
  background-color: pink;
}

.directions {
  border: 5px outset black;
  background-color: lightyellow;
}

.note {
  border: 5px outset green;
  background-color: lightgreen;
}
